CONTAINER_PREFIX=local-service-kit

AZURITE_CONTAINER=${CONTAINER_PREFIX}-azurite
AZURITE_IMAGE=mcr.microsoft.com/azure-storage/azurite
AZURITE_VOLUME=${CONTAINER_PREFIX}-azurite-data
AZURITE_BLOB_PORT=10000
AZURITE_QUEUE_PORT=10001
AZURITE_TABLE_PORT=10002

COSMOSDB_CONTAINER=${CONTAINER_PREFIX}-cosmosdb
COSMOSDB_IMAGE=mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:vnext-latest
COSMOSDB_VOLUME=${CONTAINER_PREFIX}-cosmosdb-data
COSMOSDB_GATEWAY_PORT=8081
COSMOSDB_HEALTH_PORT=8080
COSMOSDB_DATA_EXPLORER_PORT=1234

MONGODB_CONTAINER=${CONTAINER_PREFIX}-mongodb
MONGODB_IMAGE=mongodb/mongodb-community-server:latest
MONGODB_VOLUME=${CONTAINER_PREFIX}-mongodb
MONGODB_PORT=27017
MONGODB_USERNAME=local
MONGODB_PASSWORD=local
MONGODB_DATABASE=testdb

POSTGRESQL_CONTAINER=${CONTAINER_PREFIX}-postgresql
POSTGRESQL_IMAGE=postgres:18-alpine
POSTGRESQL_VOLUME=${CONTAINER_PREFIX}-postgresql-data
POSTGRESQL_PORT=5432
POSTGRESQL_USER=local
POSTGRESQL_PASSWORD=local
POSTGRESQL_DATABASE=testdb
